footer.body-padding-footer
  .flex-wrapper
    .footer-group
      h4 Choisissez votre langue
      ul.language-picker-footer
        a(href='/de/index')
          li
            img.flag(src="../assets/img/flags/de.svg" alt="German Language")
        a(href='/fr/index')
          li
            img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
        a(href='/en/index')
          li  
            img.flag.active(src="../assets/img/flags/gb.svg" alt="English Language")
        a(href='/')
          li
            img.flag(src="../assets/img/flags/it.svg" alt="Italian Language")

    .footer-group
      h4 En savoir plus
      ul
        li
          a(href='/fr/rooms') BED AND BREAKFAST
        li 
          a(href='/fr/surroundings') LES ENVIRONS
        li 
          a(href='/fr/garden') LE JARDIN
        li 
          a(href='/fr/prices') TARIFS
        li 
          a(href='/fr/contact') CONTACT
    .footer-group
      h4 Contactez-nous
      p VILLA PARADISO <br> Via N. Sauro, 172 Borgio Verezzi 
      p Phone: +39 019 610622
      p Email: villaparadiso@verezzi.it
  .copyright
    p &copy 2018 Tous Droits Réservés
script(src='../assets/js/app.js')
