
.header
  h1
    a.logo(href='/index')
      img(src="../assets/img/logo.png" alt="Villa Paradiso")
  .hamburger-icon
    .bar
    .bar
    .bar

  ul.main-nav
    li
      a(href='/fr/rooms') BED AND BREAKFAST
    li 
      a(href='/fr/surroundings') LES ENVIRONS
    li 
      a(href='/fr/garden') LE JARDIN
    li 
      a(href='/fr/prices') TARIFS
    li 
      a(href='/fr/contact') CONTACT

  ul.language-picker
    a(href='/de/index')
      li
        img.flag(src="../assets/img/flags/de.svg" alt="German Language")
    a(href='/fr/index')
      li
        img.flag.active(src="../assets/img/flags/fr.svg" alt="French Language")
    a(href='/en/index')
      li  
        img.flag(src="../assets/img/flags/gb.svg" alt="English Language")
    a(href='/')
      li
        img.flag(src="../assets/img/flags/it.svg" alt="Italian Language")

.header-white-fill
