mixin btn(link, text)
  .btn
    a(href=link)=text
    svg.arrow
      defs
        marker#m(markerwidth='4', markerheight='8', refx='0', refy='1', viewbox='0 0 1 2')
          polygon(points='0,0 1,1 0,2', fill='#979797')
      line(x1='0', y1='50%', x2='100%', y2='50%', stroke-width='2', marker-end='url(#m)', stroke='#979797')


include ./includes/head.pug
include ./includes/header.pug
.page-wrapper.pages-wrapper
  section.pages-hero-wrapper
    img(src='assets/img/rooms/rooms-1.jpg')
    .page-section-text.pages-hero
      h2 Contatti
  section.information.body-padding
    h3 Per informazioni e prenotazioni:
    .flex-wrapper-contact
      figure
        img(src='assets/img/email-logo-straight.svg')
        figcaption villaparadiso@verezzi.it
      figure
        a(href='https://www.google.com/maps/place/Villa+Paradiso/@44.160847,8.3149183,17z/data=!3m1!4b1!4m7!3m6!1s0x12d2f9e4e2df9a19:0x3d5d3ab4a296bc41!5m1!1s2018-04-25!8m2!3d44.160847!4d8.317107', target="_blank") 
          img(src='assets/img/address-logo.svg')
          figcaption VILLA PARADISO <br> Via N. Sauro, 172 Borgio Verezzi
          

      figure
        img(src='assets/img/phone-logo.svg')
        figcaption +39 019 610622
      figure
        a(href='https://www.facebook.com/pages/Villa-Paradiso-Borgio-Verezzi/1483645535260738?ref=hl', target="_blank") 
          img(src='assets/img/facebook-icon.svg')
          figcaption facebook.com/VillaParadisoBorgioVerezzi

  section.map.body-padding
    #map

  include ./includes/footer.pug
  script(src='assets/js/map.js')
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPNfilt0SY0YO6VZgCEjn7gTOrLmRkSFA&callback=initMap")
