mixin btn(link, text)
  .btn
    a(href=link)=text
    svg.arrow
      defs
        marker#m(markerwidth='4', markerheight='8', refx='0', refy='1', viewbox='0 0 1 2')
          polygon(points='0,0 1,1 0,2', fill='#979797')
      line(x1='0', y1='50%', x2='100%', y2='50%', stroke-width='2', marker-end='url(#m)', stroke='#979797')


include ./includes/head.pug
include ./includes/header.pug
.page-wrapper
  .home-hero-wrapper
    //- .down-arrow-wrapper
    //- 
    //-   img.downarrow(src="assets/img/downarrow.svg" alt="downward arrow")
  section.welcome.body-padding
    h2 Welcome to Villa Paradiso
    p Welcome to our villa that we have managed for over forty years, our family have worked in tourism for generations.
  section.right-text-box.body-padding
    img(src='assets/img/peaceful.jpg')
    .text-wrap 
      h3 The surroundings
      p Here you will not find the formalities and anonymity of a big hotel. We offer you the peace and tranquility of a house immersed in its gardens in the green hills of Borgio Verezzi, where youll enjoy day and night a panoramic view of the Gulf.
      +btn('surroundings.html', 'Learn More')
      
  section.left-text-box.body-padding
    img(src='assets/img/rooms.jpg')
    .text-wrap 
      h3 The rooms
      p Each of our cozy rooms are uniquely furnished, have a private bathroom and a wonderful view of the sea.
      +btn('rooms.html', 'Learn More')
  section.right-text-box.body-padding
    img(src='assets/img/sign.jpg')
    .text-wrap 
      h3 The location
      p Villa Paradiso is located 100 meters above sea level, includes private parking and is within walking distance to the beach and the old town of Verezzi. If you prefer to avoid traffic you’ll get there in a few minutes via the pedestrian shortcuts, or you can take a bus that runs throughout the day.
      +btn('surroundings.html', 'Learn More')

  section.information.body-padding
    h3 For information and reservations:
    .flex-wrapper
      figure
        img(src='assets/img/email-logo.svg')
        figcaption villaparadiso@verezzi.it
      figure
        img(src='assets/img/address-logo.svg')
        figcaption VILLA PARADISO <br> Via N. Sauro, 172 Borgio Verezzi <br> Italy
          

      figure
        img(src='assets/img/phone-logo.svg')
        figcaption +39 019 610622
  section.map.body-padding
    #map
  include ./includes/footer.pug
  script(src='assets/js/map.js')
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDPNfilt0SY0YO6VZgCEjn7gTOrLmRkSFA&callback=initMap")
