mixin btn(link, text)
  .btn
    a(href=link)=text
    svg.arrow
      defs
        marker#m(markerwidth='4', markerheight='8', refx='0', refy='1', viewbox='0 0 1 2')
          polygon(points='0,0 1,1 0,2', fill='#979797')
      line(x1='0', y1='50%', x2='100%', y2='50%', stroke-width='2', marker-end='url(#m)', stroke='#979797')


include ./includes/head.pug
include ./includes/header.pug
.page-wrapper.pages-wrapper
  section.pages-hero-wrapper
    img(src='assets/img/rooms/rooms-1.jpg')
    .page-section-text.pages-hero
      h2 Prezzi

  .page-wrapper-prices
    table
      tr
        td
          h3 Camera singola
          p a partire da 38 a 45 Euro
          p -a notte compresa colazione-
      tr
        td
          h3 Camera matrimoniale/doppia
          p a partire da 65 a 75 Euro a notte
          p -a notte compresa colazione-
      tr
        td
          h3 Camera tripla
          p a partire da 85 a 90 Euro a notte
          p -a notte compresa colazione-
      tr
        td.extra-include-container
        
          figure
            img(src='assets/img/wifi-icon.svg')
            figcaption wifi gratuito
          figure
            img(src='assets/img/parking.svg')
            figcaption parcheggio gratuito
          figure
            img(src='assets/img/breakfast-icon.svg')
            figcaption colazione inclusa
          figure
            img(src='assets/img/extrabed-icon.svg')
            figcaption Letto aggiuntivo + 15 Euro
            p * A seconda del periodo e della durata del soggiorno i prezzi possono subire leggere variazioni, contattateci per eventuali promozioni, sconti e offerte. 


      
    
  include ./includes/footer.pug
