footer.body-padding-footer
  .flex-wrapper
    .footer-group
      h4 Waehlen deine sprache
      ul.language-picker-footer
        a(href='/de/index')
          li
            img.flag.active(src="../assets/img/flags/de.svg" alt="German Language")
        a(href='/fr/index')
          li
            img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
        a(href='/en/index')
          li  
            img.flag(src="../assets/img/flags/gb.svg" alt="English Language")
        a(href='/')
          li
            img.flag(src="../assets/img/flags/it.svg" alt="Italian Language")

    .footer-group
      h4 Mehr erfahren
      ul
        li
          a(href='/en/rooms') BED AND BREAKFAST
        li 
          a(href='/en/surroundings') UMGEBUNG
        li 
          a(href='/en/garden') GARTEN
        li 
          a(href='/en/prices') PREISE
        li 
          a(href='/en/contact') KONTAKTE
    .footer-group
      h4 Kontakte aufnehmen
      p VILLA PARADISO <br> Via N. Sauro, 172 Borgio Verezzi 
      p Phone: +39 019 610622
      p Email: villaparadiso@verezzi.it
  .copyright
    p &copy 2018 Alle Rechte vorbehalten.
script(src='../assets/js/app.js')
