
.header
  h1
    a.logo(href='/index')
      img(src="../assets/img/logo.png" alt="Villa Paradiso")
  .hamburger-icon
    .bar
    .bar
    .bar

  ul.main-nav
    li
      a(href='/de/rooms') BED AND BREAKFAST
    li 
      a(href='/de/surroundings') UMGEBUNG
    li 
      a(href='/de/garden') GARTEN
    li 
      a(href='/de/prices') PREISE
    li 
      a(href='/de/contact') KONTAKTE

  ul.language-picker
    a(href='/de/index')
      li
        img.flag.active(src="../assets/img/flags/de.svg" alt="German Language")
    a(href='/fr/index')
      li
        img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
    a(href='/en/index')
      li  
        img.flag(src="../assets/img/flags/gb.svg" alt="English Language")
    a(href='/')
      li
        img.flag(src="../assets/img/flags/it.svg" alt="Italian Language")

.header-white-fill
