
.header
  a.logo(href='index.html')
    h1 Villa Paradiso
  .hamburger-icon
    .bar
    .bar
    .bar

  ul.main-nav
    li
      a(href='/de/rooms.html') BED AND BREAKFAST
    li 
      a(href='/de/surroundings.html') UMGEBUNG
    li 
      a(href='/de/garden.html') GARTEN
    li 
      a(href='/de/prices.html') PREISE
    li 
      a(href='/de/contact.html') KONTACTE

  ul.language-picker
    a(href='/de/index.html')
      li
        img.flag.active(src="../assets/img/flags/de.svg" alt="German Language")
    a(href='/fr/index.html')
      li
        img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
    a(href='/en/index.html')
      li  
        img.flag(src="../assets/img/flags/gb.svg" alt="English Language")
    a(href='/index.html')
      li
        img.flag(src="../assets/img/flags/it.svg" alt="Italian Language")

.header-white-fill
