ul {
  padding: 0;
  margin: 0; }
  ul li {
    cursor: pointer; }
    ul li a {
      cursor: pointer; }

p {
  font-family: 'Open Sans', sans;
  color: #5a6368; }

figcaption {
  font-family: 'Open Sans', sans;
  color: #5a6368; }

figure {
  margin: 1em 0; }

h1 {
  margin: 0;
  font-family: 'Pinyon Script', cursive;
  font-size: 30px;
  color: #2b2f31;
  padding: 10px 0 0 20px;
  font-weight: 100; }
  @media (min-width: 1100px) {
    h1 {
      font-size: 45px;
      display: inline-block;
      padding: 0; } }

h1 img {
  max-width: 200px; }
  @media (min-width: 1100px) {
    h1 img {
      max-width: 220px; } }

h2, h3 {
  font-family: 'Josefin Slab', sans-serif;
  color: #2b2f31; }

h3 {
  font-size: 45px;
  font-weight: 100;
  margin: 0; }

h4 {
  font-family: 'Open Sans', sans;
  font-size: 18px;
  margin: 10px 0; }

img {
  width: 100%;
  height: auto; }

.text-wrap {
  padding: 20px 0; }

a {
  text-decoration: none; }

.logo {
  display: block;
  text-decoration: none; }
  @media (min-width: 950px) {
    .logo {
      display: inline-block; } }

.header {
  font-family: 'Josefin Sans', sans-serif;
  position: fixed;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  top: 0;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%); }
  @media (min-width: 1100px) {
    .header {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding-top: 10px; } }

.hamburger-icon {
  display: block;
  cursor: pointer;
  position: fixed;
  top: 40px;
  right: 20px;
  z-index: 30; }
  @media (min-width: 1100px) {
    .hamburger-icon {
      display: none; } }

.bar {
  width: 30px;
  height: 5px;
  border-radius: 3px;
  background-color: #CECECE;
  margin-top: 5px;
  transition: .2s ease-in-out; }

.bar:nth-child(1) {
  transform-origin: left center; }

.bar:nth-child(2) {
  transform-origin: left center; }

.bar:nth-child(3) {
  transform-origin: left center; }

.bar.open:nth-child(1) {
  transform: rotate(45deg); }

.bar.open:nth-child(2) {
  width: 0%;
  opacity: 0; }

.bar.open:nth-child(3) {
  transform: rotate(-45deg); }

.language-picker {
  text-align: center;
  background-color: #F0F0F0;
  position: relative;
  top: -300px;
  padding-top: 0; }
  @media (min-width: 1100px) {
    .language-picker {
      background-color: white;
      position: static; } }
  .language-picker a {
    text-decoration: none;
    z-index: 1000; }
    .language-picker a li {
      display: inline-block;
      padding: 10px; }
      .language-picker a li:hover {
        background-color: #EEE; }
      .language-picker a li .flag {
        width: auto;
        height: 20px;
        display: inline-block;
        filter: opacity(0.2); }
      .language-picker a li .active {
        filter: opacity(1); }

.main-nav {
  text-align: center;
  background-color: #F8F8F8;
  position: relative;
  top: -300px; }
  @media (min-width: 1100px) {
    .main-nav {
      display: inline-block;
      background-color: white;
      top: 0px; } }
  .main-nav li {
    list-style: none;
    display: inline-block;
    padding: 15px 10px; }
    .main-nav li a {
      text-decoration: none;
      color: #5a6368; }
      .main-nav li a:hover {
        border-bottom: 2px solid #6CB9EE; }

.js-remove-top-position {
  top: 0; }

.header-white-fill {
  position: fixed;
  background-color: white;
  height: 110px;
  width: 100%;
  z-index: 10;
  border-bottom: 1px solid #dee1e3;
  top: 0;
  box-shadow: 0 4px 24px 0 rgba(103, 151, 255, 0.1), 0 12px 64px 0 rgba(103, 151, 255, 0.1); }
  @media (min-width: 950px) {
    .header-white-fill {
      height: 117px; } }

.page-wrapper {
  position: relative;
  top: 110px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box; }

.home-hero-wrapper {
  width: 100%;
  height: calc(66vh - 70px);
  z-index: 5;
  background-size: cover;
  background-position: top center;
  background-image: url(../img/hero-carousel/vaso.jpg); }
  @media (min-width: 950px) {
    .home-hero-wrapper {
      height: calc(100vh - 70px);
      animation: hero-carousel 10s ease-in-out both infinite; } }

@keyframes hero-carousel {
  0% {
    background-image: url(../img/hero-carousel/vaso.jpg); }
  33% {
    background-image: url(../img/hero-carousel/garden.jpg); }
  66% {
    background-image: url(../img/hero-carousel/peaceful.jpg); }
  100% {
    background-image: url(../img/hero-carousel/vaso.jpg); } }

.down-arrow-wrapper {
  height: 100%;
  width: 100%;
  position: relative; }
  .down-arrow-wrapper .downarrow {
    display: none; }
    @media (min-width: 950px) {
      .down-arrow-wrapper .downarrow {
        display: block;
        width: 75px;
        position: absolute;
        bottom: 25px;
        left: 50%;
        transform: translateX(-50%);
        filter: opacity(75%); } }

.body-padding {
  padding: 0 20px;
  text-align: center; }
  @media (min-width: 950px) {
    .body-padding {
      text-align: left; } }
  @media (min-width: 1200px) {
    .body-padding {
      padding: 0; } }

.body-padding-footer {
  padding: 10px 20px; }
  @media (min-width: 950px) {
    .body-padding-footer {
      text-align: center; } }
  @media (min-width: 950px) {
    .body-padding-footer {
      padding: 10px 0; } }

.welcome {
  padding: 30px 20px;
  text-align: center; }
  @media (min-width: 950px) {
    .welcome {
      padding: 5% 0; } }
  .welcome h2 {
    margin: 0;
    font-family: 'Josefin Slab', sans-serif;
    font-size: 50px;
    color: #42494d;
    padding-bottom: 10px;
    font-weight: 100; }
    @media (min-width: 950px) {
      .welcome h2 {
        font-size: 45px;
        padding: 10px 30px 0 30px; } }
  .welcome p {
    margin-bottom: 0; }

@media (min-width: 950px) {
  .right-text-box {
    position: relative; } }

.right-text-box img {
  width: 100%;
  height: auto; }

@media (min-width: 950px) {
  .right-text-box .text-wrap, .right-text-box .page-section-text {
    position: absolute;
    top: 25%;
    width: 40%;
    max-width: 500px;
    right: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 50px 20px;
    border-radius: 10px;
    border: white 2px solid; } }

.left-text-box {
  text-align: center; }
  @media (min-width: 950px) {
    .left-text-box {
      position: relative;
      padding: 5% 0; } }
  .left-text-box img {
    width: 100%;
    height: auto; }
    @media (min-width: 950px) {
      .left-text-box img {
        width: 80%; } }
  @media (min-width: 950px) {
    .left-text-box .text-wrap, .left-text-box .page-section-text {
      text-align: left;
      position: absolute;
      top: 30%;
      width: 40%;
      max-width: 500px;
      left: 5%;
      background-color: rgba(233, 248, 195, 0.8);
      padding: 50px 20px;
      border-radius: 10px;
      border: #E9F8C3 2px solid; } }

.information {
  padding-top: 5%;
  text-align: center; }
  .information h3 {
    background-color: #EEBC6C;
    padding: 30px 0;
    border-radius: 10px; }
    @media (min-width: 950px) {
      .information h3 {
        display: inline-block;
        width: 500px;
        padding: 30px; } }

.flex-wrapper {
  display: block; }
  @media (min-width: 950px) {
    .flex-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      max-width: 1200px;
      margin: 0 auto; } }
  @media (min-width: 950px) {
    .flex-wrapper figure, .flex-wrapper .footer-group {
      width: 33%; } }
  .flex-wrapper figure img, .flex-wrapper .footer-group img {
    width: 100px; }

#map {
  height: 500px;
  margin-bottom: 20px; }
  @media (min-width: 950px) {
    #map {
      height: 600px;
      width: 100%; } }

footer {
  text-align: center;
  background-color: #5a6368;
  padding-top: 10px; }
  @media (min-width: 950px) {
    footer {
      padding: 30px 0;
      clear: both;
      text-align: center; } }
  footer h4 {
    color: #EEBC6C; }
  footer ul {
    list-style: none; }
    footer ul li {
      padding: 2px 0; }
      footer ul li a {
        text-decoration: none;
        color: white; }
  footer p {
    color: white;
    font-size: 14px;
    margin-top: 0; }
  footer .copyright p {
    color: #EEBC6C; }

.language-picker-footer a {
  text-decoration: none; }
  .language-picker-footer a li {
    display: inline-block;
    padding: 10px; }
    .language-picker-footer a li .flag {
      width: auto;
      height: 20px;
      display: inline-block;
      cursor: pointer; }

.btn {
  cursor: pointer;
  border: solid 1px #6CB9EE;
  border-radius: 10px; }
  @media (min-width: 950px) {
    .btn {
      display: inline-block;
      padding-right: 20px; } }
  .btn a {
    display: block;
    margin-bottom: 0;
    margin-top: 10px;
    color: #2b2f31;
    font-family: 'Open Sans', sans;
    text-decoration: none; }
    @media (min-width: 950px) {
      .btn a {
        display: inline-block;
        vertical-align: middle;
        padding: 15px 0 15px 10px;
        margin-top: 0; } }
  .btn svg {
    width: 40px;
    height: 20px;
    transition: width 2s ease;
    overflow: visible;
    vertical-align: middle; }
  .btn .js-arrow-grow {
    width: 80px; }

.main-btn:hover {
  background-color: rgba(255, 255, 255, 0.5); }

.btn-complimentary:hover {
  background-color: rgba(233, 248, 195, 0.5); }

.page-section-text h2 {
  margin: 20px 0;
  font-size: 50px;
  color: #42494d;
  font-weight: 100; }

.pages-wrapper {
  padding: 0 20px 0 20px;
  text-align: center; }
  .pages-wrapper .pages-hero-wrapper {
    position: relative; }
    @media (min-width: 950px) {
      .pages-wrapper .pages-hero-wrapper .pages-hero {
        position: absolute;
        top: 100px;
        width: 40%;
        max-width: 500px;
        background-color: rgba(255, 255, 255, 0.8);
        border: white;
        border-style: double;
        border-width: 10px;
        padding: 50px 20px;
        border-radius: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); } }

.bottom-padding {
  padding-bottom: 5%; }

.surroundings-aside ul {
  list-style: none; }
  .surroundings-aside ul li {
    padding: 5px 0; }
    .surroundings-aside ul li a {
      text-decoration: none;
      color: #5a6368; }

@media (min-width: 950px) {
  .surroundings-aside {
    width: 25%;
    float: left;
    text-align: right;
    margin-right: 5%;
    box-sizing: border-box; } }

@media (min-width: 950px) {
  .surroundings-wrapper {
    width: 70%;
    float: left;
    text-align: left; } }

.gallery img {
  padding-bottom: 5px; }
  @media (min-width: 950px) {
    .gallery img {
      width: 50%;
      float: left;
      padding-bottom: 10px; } }

@media (min-width: 950px) {
  .gallery img:nth-child(odd) {
    padding-right: 5px;
    box-sizing: border-box; } }

@media (min-width: 950px) {
  .gallery img:nth-child(even) {
    padding-left: 5px;
    box-sizing: border-box; } }

@media (min-width: 400px) {
  .gallery .horizontal {
    width: 50%;
    float: left;
    padding-bottom: 10px; } }

@media (min-width: 400px) {
  .gallery .horizontal:first-child {
    padding-right: 5px;
    box-sizing: border-box; } }

@media (min-width: 400px) {
  .gallery .horizontal:nth-child(2) {
    padding-left: 5px;
    box-sizing: border-box; } }

.page-wrapper-prices {
  display: inline-block;
  margin: 0 auto;
  text-align: left; }
  @media (min-width: 950px) {
    .page-wrapper-prices {
      padding: 20px; } }
  .page-wrapper-prices table {
    border-radius: 10px;
    border-collapse: separate;
    width: 100%;
    max-width: 500px; }
  .page-wrapper-prices table, .page-wrapper-prices tr {
    border: 1px solid #727d83;
    padding: 20px; }
  .page-wrapper-prices td {
    padding: 20px;
    border-bottom: 1px solid #727d83; }
    .page-wrapper-prices td h3 {
      font-size: 30px; }
      @media (min-width: 950px) {
        .page-wrapper-prices td h3 {
          font-size: 45px; } }
  .page-wrapper-prices .extra-include-container {
    border-bottom: none; }
    .page-wrapper-prices .extra-include-container figure {
      margin: 1em 0; }
      .page-wrapper-prices .extra-include-container figure img {
        width: 75px;
        display: block;
        vertical-align: middle;
        padding-right: 10px; }
        @media (min-width: 400px) {
          .page-wrapper-prices .extra-include-container figure img {
            display: inline-block; } }
      .page-wrapper-prices .extra-include-container figure figcaption {
        display: inline-block;
        vertical-align: middle; }

.flex-wrapper-contact {
  display: block; }
  .flex-wrapper-contact figure {
    padding: 10px 0; }
    .flex-wrapper-contact figure img {
      width: 75px; }

.flex-wrapper-contact figcaption {
  font-size: 15px; }
  @media (min-width: 950px) {
    .flex-wrapper-contact figcaption {
      font-size: 1em; } }

.map.body-padding {
  padding: 0; }

.home .map.body-padding {
  padding: 0 20px; }
