$black: #131516
$hover-border-color: #6CB9EE
$nav-height: 40px
$highlight-color: #EEBC6C
$footer-color: #002C59
$compliment-color: #E9F8C3
E9F8C3

ul
  padding: 0
  margin: 0
  li
    cursor: pointer
    a
      cursor: pointer
p
  font-family: 'Open Sans', sans
  color: lighten( $black, 30% )
figcaption
  font-family: 'Open Sans', sans
  color: lighten( $black, 30% )

h1

  margin: 0
  font-family: 'Pinyon Script', cursive
  font-size: 30px
  color: lighten( $black, 10% )
  padding: 20px 30px 0 20px
  font-weight: 100
  @media (min-width: 950px)
    font-size: 45px
    padding: 10px 30px 0 30px
h2, h3
  font-family: 'Josefin Slab', sans-serif
  color: lighten( $black, 10% )
h3
  font-size: 45px
  font-weight: 100
  margin: 0
  line-height:
h4
  font-family: 'Open Sans', sans
  font-size: 18px
  margin: 10px 0
img
  width: 100%
  height: auto
.text-wrap
  padding: 20px 0





.logo
  display: block
  background-color: white
  text-decoration: none
  @media (min-width: 950px)
    display: inline-block
  @media (min-width: 1100px)
    display: inline-block


.header

  font-family: 'Josefin Sans', sans-serif
  position: fixed
  width: 100%
  top: 0
  z-index: 20


.hamburger-icon
  display: block
  cursor: pointer
  position: fixed
  top: 20px
  right: 10px
  z-index: 30
  @media (min-width: 1100px)
    display: none




.bar
  width: 30px
  height: 5px
  border-radius: 3px
  background-color: #CECECE
  margin-top: 5px
  transition: .2s ease-in-out



.bar:nth-child(1)
  transform-origin: left center


.bar:nth-child(2)
  transform-origin: left center


.bar:nth-child(3)
  transform-origin: left center


.bar.open:nth-child(1)
  transform: rotate(45deg)


.bar.open:nth-child(2)
  width: 0%
  opacity: 0


.bar.open:nth-child(3)
  transform: rotate(-45deg)

.language-picker
  text-align: center
  background-color: #F0F0F0
  position: relative
  top: -300px
  padding-top: 0



  @media (min-width: 1100px)
    display: inline-block
    background-color: white
    position: absolute
    right: 30px
    padding-top: 20px
    top: 0

  a
    text-decoration: none
    z-index: 1000
    li
      display: inline-block
      padding: 10px
      &:hover
        background-color: #EEE
      .flag
        width: auto
        height: 20px
        display: inline-block
        filter: opacity(0.2)
      .active
        filter: opacity(1)
.main-nav
  text-align: center
  background-color: #F8F8F8
  position: relative
  top: -300px

  @media (min-width: 950px)
    display: inline-block
    background-color: white
    top: 0px
  li
    list-style: none
    display: inline-block
    padding: 15px 10px


    @media (min-width: 950px)
      border-bottom: 2px solid white


    a
      text-decoration: none
      color: lighten( $black, 30% )
      &:hover
        border-bottom: 2px solid $hover-border-color

.js-remove-top-position
  top: 0
.header-white-fill
  position: fixed
  background-color: white
  height: 70px
  width: 100%
  z-index: 10
  border-bottom: 1px solid lighten( $black, 80% )
  top: 0
.page-wrapper
  position: relative
  top: 70px
  width: 100%
  max-width: 1200px
  margin: 0 auto
  box-sizing: border-box

.home-hero-wrapper

  width: 100%
  height: calc(66vh - 70px)
  z-index: 5
  background-size: cover
  background-position: top center
  animation: hero-carousel 10s ease-in-out both infinite
  @media (min-width: 950px)
    height: calc(100vh - 70px)

  @keyframes hero-carousel
    0%
       background-image: url(../img/hero-carousel/vaso.jpg)
    33%
      background-image: url(../img/hero-carousel/garden.jpg)
    66%
      background-image: url(../img/hero-carousel/peaceful.jpg)
    100%
      background-image: url(../img/hero-carousel/vaso.jpg)
.body-padding
  padding: 0 20px
  text-align: center
  @media (min-width: 950px)
    text-align: left

.welcome
  padding: 30px 20px
  text-align: center
  @media (min-width: 950px)
    padding: 5% 0
  h2
    margin: 0
    font-family: 'Josefin Slab', sans-serif
    font-size: 50px
    color: lighten( $black, 20% )
    padding-bottom: 10px
    font-weight: 100
    @media (min-width: 950px)
      font-size: 45px
      padding: 10px 30px 0 30px
  p
    margin-bottom: 0




.right-text-box
  @media (min-width: 950px)
    position: relative
  img
    width: 100%
    height: auto

  .text-wrap, .page-section-text
    @media (min-width: 950px)
      position: absolute
      top: 25%
      width: 40%
      max-width: 500px
      right: 10%
      background-color: rgba(white, 0.8)
      padding: 50px 20px
      border-radius: 10px
      border: white 2px solid
.left-text-box
  text-align: center
  @media (min-width: 950px)
    position: relative
    padding: 5% 0
  img
    width: 100%
    height: auto
    @media (min-width: 950px)
      width: 80%
  .text-wrap, .page-section-text
    @media (min-width: 950px)
      text-align: left
      position: absolute
      top: 30%
      width: 40%
      max-width: 500px
      left: 5%
      background-color: rgba($compliment-color, .8)
      padding: 50px 20px
      border-radius: 10px
      border: $compliment-color 2px solid


.information
  padding-top: 5%
  padding-bottom: 5%
  text-align: center

  h3
    background-color: $highlight-color
    padding: 30px 0
    border-radius: 10px
    @media (min-width: 950px)
      display: inline-block
      width: 500px
      padding:
.flex-wrapper
  display: block
  @media (min-width: 950px)
    display: flex
    justify-content: center
    width: 100%
    max-width: 1200px
    margin: 0 auto
  figure, .footer-group
    @media (min-width: 950px)
      width: 33%




    img
      width: 100px
footer
  text-align: center
  background-color: $footer-color
  padding-top: 10px
  @media (min-width: 950px)
    padding: 30px 0
    clear: both

  h4
    color: $highlight-color
  ul
    list-style: none
    li
      padding: 2px 0
      a
        text-decoration: none
        color: white




  p
    color: white
    font-size: 14px
    margin-top: 0
  .copyright
    p
      color: $highlight-color
.language-picker-footer
  a
    text-decoration: none
    li
      display: inline-block
      padding: 10px
      .flag
        width: auto
        height: 20px
        display: inline-block
        cursor: pointer




// ############################ btn
.btn
  cursor: pointer
  border: solid 1px $hover-border-color
  border-radius: 10px

  &:hover
    background-color: lighten($hover-border-color, 30%)
  @media (min-width: 950px)
    display: inline-block
    padding-right: 20px

  a
    display: block
    margin-bottom: 0
    margin-top: 10px
    color: lighten( $black, 10% )
    font-family: 'Open Sans', sans
    text-decoration: none
    @media (min-width: 950px)
      display: inline-block
      vertical-align: middle
      margin: 15px 0 15px 10px



  svg
    width: 40px
    height: 20px
    transition: width 2s ease
    overflow: visible
    vertical-align: middle



  .js-arrow-grow
    width: 80px



.page-section-text

  h2
    margin: 20px 0
    font-size: 50px
    color: lighten( $black, 20% )
    font-weight: 100


.pages-wrapper
  padding: 20px 20px 0 20px
  text-align: center
  @media (min-width: 950px)
    padding-top: 0


  .pages-hero-wrapper
    position: relative
    .pages-hero
      @media (min-width: 950px)
        position: absolute
        top: 100px
        width: 40%
        max-width: 500px
        background-color: rgba(white, 0.8)
        border: white
        border-style: double
        border-width: 10px
        padding: 50px 20px
        border-radius: 10px
        left: 50%
        top: 50%
        transform: translate(-50%,-50%)



.bottom-padding
  padding-bottom: 5%

.surroundings-aside

  ul
    list-style: none
    li
      padding: 5px 0
      a
        text-decoration: none

  @media (min-width: 950px)
    width: 25%
    float: left
    text-align: right
    margin-right: 5%
    box-sizing: border-box


.surroundings-wrapper
  @media (min-width: 950px)

    width: 70%
    float: left
    text-align: left
.gallery

  img
    padding-bottom: 5px
    @media (min-width: 950px)
      width: 50%
      float: left
      padding-bottom: 10px

  img:nth-child(odd)
    @media (min-width: 950px)
      padding-right: 5px
      box-sizing: border-box
  img:nth-child(even)
    @media (min-width: 950px)
      padding-left: 5px
      box-sizing: border-box
  .horizontal
    @media (min-width: 400px)
      width: 50%
      float: left
      padding-bottom: 10px
  .horizontal:first-child
    @media (min-width: 400px)
      padding-right: 5px

      box-sizing: border-box
  .horizontal:nth-child(2)
    @media (min-width: 400px)
      padding-left: 5px
      box-sizing: border-box
.page-wrapper-prices
  display: inline-block
  padding: 20px
  margin: 0 auto
  text-align: left
  table
    border-radius: 10px
    border-collapse: separate 
  table, tr
    border: 1px solid lighten( $black, 40% )
    padding: 20px
  td
    padding: 20px
  .extra-include-container
    figure
      margin: 1em 0
      img
        width: 75px
        display: inline-block
        vertical-align: middle
      figcaption
        display: inline-block
        vertical-align: middle
