$black: #131516
$hover-border-color: #6CB9EE
$nav-height: 40px

h1
  display: inline-block
  margin: 0
  font-family: 'Pinyon Script', cursive
  font-size: 45px
  color: lighten( $black, 20% )
  padding: 10px 30px 0 30px
  font-weight: 100


.header

  font-family: 'Josefin Sans', sans-serif
  position: fixed
  width: 100%
  background-color: white
.nav
  display: inline-block


.nav-sticky-right
  position: absolute
  right: 20px
  top: 20px
.language-picker
  display: inline-block
  padding: 0

  overflow: hidden
  transition: all .3s ease
  margin: 0
  vertical-align: top


  a
    text-decoration: none

    li
      display: inline-block
      padding: 10px
      &:hover
        background-color: #EEE



      .flag
        width: auto
        height: 20px
        display: inline-block
        filter: opacity(0.2)
      .active
        filter: opacity(1)
.main-nav
  display: inline-block
  margin: 0
  padding: 0 0 0 20px


  li
    list-style: none
    display: inline-block
    padding: 0 10px
    &:hover
      border-bottom: 2px solid $hover-border-color

    a
      text-decoration: none
      color: lighten( $black, 30% )
.contact
  margin-top: 1rem

.home-hero-wrapper
  width: 100vw
  height: calc(100vh - 76px)
  padding-top: 76px
  background-size: cover
  animation: hero-carousel 10s ease-in-out both infinite


  @keyframes hero-carousel
    0%
       background-image: url(/assets/img/hero-carousel/vaso.JPG)
    33%
      background-image: url(/assets/img/hero-carousel/garden.jpg)
    66%
      background-image: url(/assets/img/hero-carousel/peaceful.jpg)
    100%
      background-image: url(/assets/img/hero-carousel/vaso.JPG)
  .down-arrow-wrapper
    text-align: center
    height: 100%
    position: relative

    .downarrow
      height: 50px
      font-family: 'Josefin Sans', sans-serif
      text-align: center
      position: absolute
      bottom: 30px
