mixin btn(link, text)
  .btn
    a(href=link)=text
    svg.arrow
      defs
        marker#m(markerwidth='4', markerheight='8', refx='0', refy='1', viewbox='0 0 1 2')
          polygon(points='0,0 1,1 0,2', fill='#979797')
      line(x1='0', y1='50%', x2='100%', y2='50%', stroke-width='2', marker-end='url(#m)', stroke='#979797')


include ./includes/head.pug
include ./includes/header.pug
.page-wrapper.pages-wrapper
  section.pages-hero-wrapper
    img(src='../assets/img/garden/nightscene.jpg')
    .page-section-text.pages-hero
      h2 Le jardin 
      
  section.left-text-box
    img(src='../assets/img/garden/house.jpg')
    .page-section-text
      h2 Prendersi del tempo
      p Si vous souhaitez vous détendre, vous aurez toute la liberté de passer du temps dans le jardin et ces terrasses. Vous pourrez également vous rafraîchir ou avoir le plaisir de jouer à la pétanque en jetant un œil à la mer et aux collines entre chaques points.Le soir, vous pourrez y rester pour admirer le ciel étoilé et le cap de Mele illuminé des milles lumières du golfe avec une bouteille de bon vin. 
  section.gallery
    img(src='../assets/img/garden/flowers.jpg')
    img(src='../assets/img/garden/view.jpg')
    img.horizontal(src='../assets/img/garden/girl.jpg')
    img.horizontal(src='../assets/img/garden/view-1.jpg')
    img(src='../assets/img/garden/terrace.jpg')
    img(src='../assets/img/garden/night.jpg')
      
  include ./includes/footer.pug
