mixin btn(link, text)
  .btn
    a(href=link)=text
    svg.arrow
      defs
        marker#m(markerwidth='4', markerheight='8', refx='0', refy='1', viewbox='0 0 1 2')
          polygon(points='0,0 1,1 0,2', fill='#979797')
      line(x1='0', y1='50%', x2='100%', y2='50%', stroke-width='2', marker-end='url(#m)', stroke='#979797')


include ./includes/head.pug
include ./includes/header.pug
.page-wrapper.pages-wrapper
  section.pages-hero-wrapper
    img(src='../assets/img/surroundings/surroundings-hero.jpg')
    .page-section-text.pages-hero
      h2 Autours de la Villa
      p La Villa Paradiso est un excellent point de départ quel que soit vos intérêts. 
  aside.surroundings-aside
      h2 Lien Local
      ul
        li
          a(href='http://societa.verezzi.it/', target="_blank") Antica Società Pizzeria
        li
          a(href='http://www.festivalverezzi.it/', target="_blank") Festival Teatrale di Borgio Verezzi
        li
          a(href='http://www.grottediborgio.it/', target="_blank") Grotte di Borgio Verezzi 
        li
          a(href='http://www.comuneborgioverezzi.gov.it/', target="_blank") Comune di Borgio Verezzi
        li
          a(href='http://turismo.comunefinaleligure.it/en/outdoor', target="_blank") Outdoor Activities in Finale
        li
          a(href='http://borgioverezzisentieri.altervista.org/', target="_blank") Borgio Verezzi Information




  .surroundings-wrapper
    section#sea
      h2 Les Envrions
      p la plage, la mer et la plongée, les excursions en bateau sur les traces des dauphins et des baleines, la visite des centres historiques importants comme Gênes ou les mondanités de la principauté de Monaco. Ou, tout simplement, pour faire une promenade dans l’atmosphère romantique de l'ancien village sarrasin de Verezzi et découvrir son prestigieux festival de théâtre estival.
      img(src='../assets/img/surroundings/whalewatching.jpg')
      p D’autres trésors se cachent dans les collines environnantes : vous pourrez partir à la découverte du sous-sol et visitez les grottes de Borgio Verezzi, vous aventurez sur les sentiers de randonnée, decouvrir les merveilles de la région en vélo ou en VTT ou encore faire de l’escalade en exterieur ou en gymnase.
      img(src='../assets/img/surroundings/verezzi.jpg')
      p Nous serons heureux de vous conseiller sur toutes ces activités afin de faire de vos vacances une expérience inoubliable.
      img(src='../assets/img/surroundings/varigotti.jpg')
      img(src='../assets/img/surroundings/varigotti-1.jpg')
      img(src='../assets/img/surroundings/Sentiero.jpg')
      img(src='../assets/img/surroundings/percosi.jpg')
      img(src='../assets/img/surroundings/grotte.jpg')
      img(src='../assets/img/surroundings/bis.jpg')
      img(src='../assets/img/surroundings/climbing.jpg')
      img(src='../assets/img/surroundings/outdoor.jpg')
  include ./includes/footer.pug
