footer
  .flex-wrapper
    .footer-group
      h4 Choose your Language
      ul.language-picker-footer
        a(href='#de')
          li
            img.flag(src="assets/img/flags/de.svg" alt="German Language")
        a(href='#fr')
          li
            img.flag(src="assets/img/flags/fr.svg" alt="French Language")
        a(href='#gb')
          li  
            img.flag.active(src="assets/img/flags/gb.svg" alt="English Language")
        a(href='#it')
          li
            img.flag(src="assets/img/flags/it.svg" alt="Italian Language")

    .footer-group
      h4 Learn more
      ul
        li
          a(href='rooms.html') ROOMS
        li 
          a(href='surroundings.html') SURROUNDINGS
        li 
          a(href='garden.html') GARDEN
        li 
          a(href='prices.html') PRICES
        li 
          a(href='contact.html') CONTACT
    .footer-group
      h4 Contact us
      p VILLA PARADISO <br> Via N. Sauro, 172 Borgio Verezzi 
      p Phone: 019 610622
      p Email: villaparadiso@verezzi.it
  .copyright
    p &copy 2018 All Rights Reserved
script(src='assets/js/app.js')
