footer.body-padding-footer
  .flex-wrapper
    .footer-group
      h4 Scegli la tua lingua
      ul.language-picker-footer
        a(href='#de')
          li
            img.flag(src="../assets/img/flags/de.svg" alt="German Language")
        a(href='#fr')
          li
            img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
        a(href='#gb')
          li  
            img.flag.active(src="../assets/img/flags/gb.svg" alt="English Language")
        a(href='#it')
          li
            img.flag(src="../assets/img/flags/it.svg" alt="Italian Language")

    .footer-group
      h4 Scopri di più
      ul
        li
          a(href='rooms.html') CAMERE E COLAZIONE
        li 
          a(href='surroundings.html') I DINTORNI
        li 
          a(href='garden.html') IL GIARDINO
        li 
          a(href='prices.html') PREZZI
        li 
          a(href='contact.html') CONTATTI
    .footer-group
      h4 Contatti
      p VILLA PARADISO <br> Via N. Sauro, 172 Borgio Verezzi 
      p Phone: 019 610622
      p Email: villaparadiso@verezzi.it
  .copyright
    p &copy 2018 Tutti i diritti riservati.
script(src='../assets/js/app.js')
