
.header
  a.logo(href='index.html')
    h1 Villa Paradiso
  .hamburger-icon
    .bar
    .bar
    .bar

  ul.main-nav
    li
      a(href='rooms.html') CAMERE E COLAZIONE
    li 
      a(href='surroundings.html') I DINTORNI
    li 
      a(href='garden.html') IL GIARDINO
    li 
      a(href='prices.html') PREZZI
    li 
      a(href='contact.html') CONTATTI

  ul.language-picker
    a(href='/de/')
      li
        img.flag(src="../assets/img/flags/de.svg" alt="German Language")
    a(href='/fr/')
      li
        img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
    a(href='/en/index.html')
      li  
        img.flag(src="../assets/img/flags/gb.svg" alt="English Language")
    a(href='/')
      li
        img.flag.active(src="../assets/img/flags/it.svg" alt="Italian Language")

.header-white-fill
