.header
  a(href='index.html')
    h1 Villa Paradiso
  .nav
    ul.main-nav
      li
        a(href='rooms.html') ROOMS
      li 
        a(href='surroundings.html') SURROUNDINGS
      li 
        a(href='garden.html') GARDEN
      li 
        a(href='prices.html') PRICES
    .nav-sticky-right
      ul.language-picker
        a(href='#de')
          li
            img.flag(src="assets/img/flags/de.svg" alt="German Language")
        a(href='#fr')
          li
            img.flag(src="assets/img/flags/fr.svg" alt="French Language")
        a(href='#gb')
          li  
            img.flag.active(src="assets/img/flags/gb.svg" alt="English Language")
        a(href='#it')
          li
            img.flag(src="assets/img/flags/it.svg" alt="Italian Language")
      ul.main-nav.contact
        li 
          a(href='contact.html') CONTACT
    
