
.header
  a.logo(href='/index')
    h1 Villa Paradiso
  .hamburger-icon
    .bar
    .bar
    .bar

  ul.main-nav
    li
      a(href='rooms') CAMERE E COLAZIONE
    li 
      a(href='surroundings') I DINTORNI
    li 
      a(href='garden') IL GIARDINO
    li 
      a(href='prices') PREZZI
    li 
      a(href='contact') CONTATTI

  ul.language-picker
    a(href='/de/index')
      li
        img.flag(src="../assets/img/flags/de.svg" alt="German Language")
    a(href='/fr/index')
      li
        img.flag(src="../assets/img/flags/fr.svg" alt="French Language")
    a(href='/en/index')
      li  
        img.flag(src="../assets/img/flags/gb.svg" alt="English Language")
    a(href='/index')
      li
        img.flag.active(src="../assets/img/flags/it.svg" alt="Italian Language")

.header-white-fill
